h3 Chat
div.d-flex.flex-column.w-25.m-auto
 input#name(type='text' placeholder='Name')
 input#message.mt-3(type='text' placeholder='Message')
 input#send.btn.btn-primary.mt-3(type='submit' onclick='sendMessage()' value='Send')
ul#messagesList
